/* ---------------------------- inizio @media screen -------------------------------------- */
@media screen {

html,body {
  height: 100%;
  margin: 0;
}

body{
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}


/* ---------------------------- grid-container -------------------------------------- */

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header"
    "menu main main main main"
    "menu main main main main";
  /*grid-gap: 0.5em;
  padding: 0.5em;*/
  min-height:100%;
}

/* ---------------------------- END grid-container -------------------------------------- */

/* ---------------header------------*/
.theheader{
  background-color: black;
  color: white;
  grid-area: header;
  padding: 0.1em;
  text-align:center;
  min-width: 30em;
}
/* --------------- fine header ------------*/

/* ---------------------------------- menù ----------------------- */
.navbar {
  grid-area: menu;
  height: auto;
  max-width: 60em;
  margin-left: 0;
  margin-right: 0;
  text-align: center;

}
/* stile nav */
.navbar ul li a {
  color: white;
  font-size: 1em;
  display: block;
  padding: 1em 3em 1em 3em;
  text-decoration: none; /* togliere sottolineatura ai link*/
  background-color: black;
}



/* togliere impostazioni pallini nelle liste */
.navbar ol, ul {
  list-style: none;
}

/* on hover colore blu*/
.navbar ul li a:hover {
  background-color: grey;
  color: black;
}

/* Pagina visitata in questo momento rimane il nav menu in grigio */
.navbar ul li a.active {
  background-color: grey;
  color: black;
}

.navbar ul li a.disable {
 pointer-events: none;
 cursor: default;
 color:grey;
}
/* ---------------------------- fine menù -------------------------------------- */

/* ---------------------------- content in NewGame and NewGamePartTwo -------------------------------------- */
.thecontent {
  grid-area: main;
  padding:5%;
  min-width: 30em;
}
/* ---------------------------- END content in NewGame and NewGamePartTwo -------------------------------------- */

/* ---------------------------- form in NewGame -------------------------------------- */
div.form {
    border: 0.2em solid grey;
    width: 50%;
    margin: auto;
    padding: 2em 4em 2em 4em;
    border-radius: 0.4em; /* arrotondamento angoli*/
    text-align: center;

}

.form label {
    display: inline-block;
    width:20%;
}

.form input[type=submit], button {
    font-size: 100%;
    width: 30%;
    background-color: black;
    color: white;
    padding: 1em 1em;
    margin: 0.8em 2em;
    border: none;
    border-radius: 0.4em;
}

.form input[type=submit]:hover, button:hover {
    color:black;
    background-color: grey;
}

.form select {
  width:55%;
  font-size: 100%;
  padding: 0.5em 0.5em;
  margin: 0.8em 2em;
}

/* ---------------------------- END form in NewGame -------------------------------------- */

/* ---------------------------- LOADING BAR in NewGamePartTwo -------------------------------------- */
#myProgress {
  width: 100%;
  background-color: grey;
}

#myBar {
  width: 10%;
  height: 50px;
  background-color: green;
  text-align: center; /* To center it horizontally*/
  line-height: 50px; /* To center it vertically */
  color: black;
}

.InnerContentNewGamePartTwo {
    border: 0.2em solid grey;
    width: 50%;
    margin: auto;
    padding: 2em 4em 2em 4em;
    border-radius: 0.4em; /* arrotondamento angoli*/
    text-align: center;

}
/* ---------------------------- END LOADING BAR in NewGamePartTwo -------------------------------------- */

/* ---------------------------- END @media screen -------------------------------------- */